---
layout: page
# All the Categories of posts
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}

{% assign sort_categories = site.categories | sort %}
{% assign parent_categories = '' | split: '' %}

{% for category in sort_categories %}
  {% assign category_key = category | first %}
  {% assign parts = category_key | split: '/' %}
  {% assign parent = parts[0] %}
  {% unless parent_categories contains parent %}
    {% assign parent_categories = parent_categories | push: parent %}
  {% endunless %}
{% endfor %}

{% assign parent_categories = parent_categories | sort %}

{% for parent in parent_categories %}
  {% assign sub_categories = '' | split: '' %}
  {% assign top_posts_size = 0 %}

  {% for category in sort_categories %}
    {% assign category_key = category | first %}
    {% assign parts = category_key | split: '/' %}
    {% assign this_parent = parts[0] %}
    {% assign this_child = parts[1] | default: nil %}
    {% if this_parent == parent %}
      {% assign posts = category | last %}
      {% assign top_posts_size = top_posts_size | plus: posts.size %}
      {% if this_child %}
        {% unless sub_categories contains this_child %}
          {% assign sub_categories = sub_categories | push: this_child %}
        {% endunless %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% assign sub_categories = sub_categories | sort %}
  {% assign sub_categories_size = sub_categories | size %}

  {% if top_posts_size > 0 %}
    <div class="card categories">
      <!-- top-category -->
      <div
        id="{{ HEAD_PREFIX }}{{ group_index }}"
        class="card-header d-flex justify-content-between hide-border-bottom"
      >
        <span class="ms-2">
          <i class="far fa-folder{% if sub_categories_size > 0 %}-open{% endif %} fa-fw"></i>

          {% capture _category_url %}/categories/{{ parent | slugify | url_encode }}/{% endcapture %}
          {% if sub_categories_size > 0 %}
            <span class="mx-2 text-muted">{{ parent }}</span>
          {% else %}
            <a href="{{ _category_url | relative_url }}" class="mx-2">{{ parent }}</a>
          {% endif %}

          <span class="text-muted small font-weight-light">
            {% if sub_categories_size > 0 %}
              {{ sub_categories_size }}
              {% if sub_categories_size > 1 %}
                {{ site.data.locales[lang].categories.category_measure.plural | default: site.data.locales[lang].categories.category_measure }}
              {% else %}
                {{ site.data.locales[lang].categories.category_measure.singular | default: site.data.locales[lang].categories.category_measure }}
              {% endif -%},
            {% endif %}

            {{ top_posts_size }}
            {% if top_posts_size > 1 %}
              {{ site.data.locales[lang].categories.post_measure.plural | default: site.data.locales[lang].categories.post_measure }}
            {% else %}
              {{ site.data.locales[lang].categories.post_measure.singular | default: site.data.locales[lang].categories.post_measure }}
            {% endif %}
          </span>
        </span>

        {% if sub_categories_size > 0 %}
          <a
            href="#{{ LIST_PREFIX }}{{ group_index }}"
            data-bs-toggle="collapse"
            aria-expanded="true"
            aria-label="{{ HEAD_PREFIX }}{{ group_index }}-trigger"
            class="category-trigger hide-border-bottom"
          >
            <i class="fas fa-fw fa-angle-down"></i>
          </a>
        {% else %}
          <span data-bs-toggle="collapse" class="category-trigger hide-border-bottom disabled">
            <i class="fas fa-fw fa-angle-right"></i>
          </span>
        {% endif %}
      </div>
      <!-- .card-header -->

      <!-- Sub-categories or Single Category Posts -->
      {% if sub_categories_size > 0 %}
        <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse show" aria-expanded="true">
          <ul class="list-group">
            {% for sub in sub_categories %}
              <li class="list-group-item">
                <i class="far fa-folder fa-fw"></i>
                {% capture sub_key %}{{ parent | downcase }}/{{ sub | downcase}}{% endcapture %}
                {% capture _sub_ctg_url %}/categories/{{ parent | downcase| url_encode }}-{{ sub | downcase| url_encode }}/{% endcapture %}
                <a href="{{ _sub_ctg_url | relative_url }}" class="mx-2">{{ sub | downcase}}</a>
                {% assign posts_size = site.categories[sub_key] | size %}
                <span class="text-muted small font-weight-light">
                  {{ posts_size }}
                  {% if posts_size > 1 %}
                    {{ site.data.locales[lang].categories.post_measure.plural | default: site.data.locales[lang].categories.post_measure }}
                  {% else %}
                    {{ site.data.locales[lang].categories.post_measure.singular | default: site.data.locales[lang].categories.post_measure }}
                  {% endif %}
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <div class="collapse" aria-expanded="false">
          <ul class="list-group">
            <li class="list-group-item">
              <i class="far fa-folder fa-fw"></i>
              {% capture _only_ctg_url %}/categories/{{ parent | slugify | url_encode }}/{% endcapture %}
              <a href="{{ _only_ctg_url | relative_url }}" class="mx-2">{{ parent | downcase}}</a>
              <span class="text-muted small font-weight-light">
                {{ top_posts_size }}
                {% if top_posts_size > 1 %}
                  {{ site.data.locales[lang].categories.post_measure.plural | default: site.data.locales[lang].categories.post_measure }}
                {% else %}
                  {{ site.data.locales[lang].categories.post_measure.singular | default: site.data.locales[lang].categories.post_measure }}
                {% endif %}
              </span>
            </li>
          </ul>
        </div>
      {% endif %}
    </div>
    <!-- .card -->
  {% endif %}

  {% assign group_index = group_index | plus: 1 %}
{% endfor %}
